VITE_I18N_LOCALE=en-US
VITE_I18N_FALLBACK_LOCALE=en-US
VITE_CACHE_MAX_AGE=3600
VITE_VIEW_SIZE=10
VITE_APP_PERMISSION_ID="JOB_MANAGER_APP_VIEW"
VITE_ALIAS=
VITE_DEFAULT_LOG_LEVEL="error"
VITE_LAUNCHPAD_URL="http://launchpad.hotwax.io/login"
